/* LINKS CSS */
.hoverWhatsapp:hover {
  stroke: var(--hover-color);
  fill: var(--hover-color);
}

/* PRESENTATION CSS */
/* Texto con degradado */
.gradientText {
  font-family: "Moranga Bold";
  background: linear-gradient(
    90deg,
    var(--gradient-start),
    var(--gradient-middle),
    var(--gradient-end)
  ); /* Definir el degradado */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textGradient {
  width: 100%;
  text-align: start;
  background: linear-gradient(
    to right,
    var(--text-gradient-start),
    var(--text-gradient-end)
  ); /* Gradiente de verde a verde claro */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.textGradient:hover {
  background: linear-gradient(
    to left,
    var(--text-gradient-end),
    var(--text-gradient-start)
  ); /* Gradiente invertido en hover */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* CONTACT */
.contactSection {
  max-width: 600px;
  margin: 0 auto;
  padding: 100px 20px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s,
    opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s,
    transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.contactSection.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.overline {
  font-size: 1rem;
  font-weight: 500;
  color: #64ffda;
  margin-bottom: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 24px;
  color: #ccd6f6;
}

.description {
  font-size: 1.125rem;
  color: #8892b0;
  line-height: 1.5;
  margin-bottom: 40px;
}

.emailLink {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1rem;
  color: var(--text-gradient-end);
  background-color: transparent;
  border: 2px solid var(--text-gradient-end);
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.emailLink:hover {
  background-color: var(--text-gradient-start);
  color: #0a192f;
}
/* PROJECTS */
.projectCard {
  background: linear-gradient(
    135deg,
    var(--text-gradient-start),
    rgba(91, 44, 111, 0.2)
  );
  border-radius: 0.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projectCard:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.projectImage {
  filter: grayscale(100%); /* Aplica escala de grises */
  transition: filter 0.3s ease-in-out; /* Transición de escala de grises a color */
  border-radius: 0.5rem;
}

.projectImage:hover {
  filter: grayscale(0%); /* Elimina escala de grises en hover */
}

.projectTitle {
  color: #ffffff;
}

.projectDescription {
  color: #d1d5db; /* Tailwind's gray-300 */
}

.languageTag {
  background-color: rgba(91, 44, 111, 0.6);
  color: #ffffff;
  font-size: 0.875rem; /* Tailwind's text-sm */
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.projectLink {
  color: #818cf8; /* Tailwind's indigo-300 */
  font-weight: 600;
}

.projectLink:hover {
  color: #ffffff;
}

/* Nueva clase para altura fija en modo móvil */
.projectCardMobile {
  height: 500px; /* Ajusta el valor según el tamaño deseado */
  background: linear-gradient(
    135deg,
    var(--text-gradient-start),
    rgba(91, 44, 111, 0.2)
  );
  border-radius: 0.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  display: inline-block;
  vertical-align: middle;
}
