@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,800&display=swap");

:root {
  --main-font: "Barlow Semi Condensed", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --primary-color: rgba(48, 228, 151, 0.8);
  --secondary-color: #313131;
  --orange-color: #ff5733;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: var(--main-font);
  text-transform: uppercase;
  font-style: italic;
  font-weight: 800;
  font-size: 50px;
  letter-spacing: 1px;
  color: var(--primary-color);
}

h2 {
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 5px;
  color: var(--secondary-color);
}

h3 {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-size: 1.6rem;
  font-weight: bold;
}

h4 {
  font-family: var(--secondary-font);
  font-size: 1.2rem;
  color: var(--secondary-color);
}

body {
  font-family: var(--secondary-font);
  font-size: 1rem;
  overflow-x: hidden;
}

.btn {
  padding: 7px 12px !important;
  border: 2px solid var(--primary-color);
  position: relative;
  overflow: hidden;
  font-family: var(--secondary-font);
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 1px;
  color: var(--primary-color);
}

.btn:hover {
  background-color: var(--primary-color);
  transition: 1s;
  color: #fff;
}

/* hero */
.hero {
  width: 100%;
  height: 100vh;
  background: url("../assets/img/bg-hero.webp") center no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  position: relative;
}

.hero::before {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero h2 {
  color: #fff;
}

/* WID */
.services i {
  font-size: 25px;
}

.icon {
  width: 100px;
  height: 100px;
  background-color: var(--primary-color);
}

.services .text {
  width: calc(100% - 100px);
  font-size: 0.9rem;
}

.services h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

/* MY CLASSES */
.training i {
  font-size: 1.5rem;
  color: var(--primary-color);
}

/* Contenedor principal de la tarjeta */
.card-item {
  height: 650px; /* Permite que el contenedor crezca según el contenido */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinea el contenido desde el inicio */
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden; /* Evita que el contenido salga del contenedor */
  perspective: 1000px; /* Requerido para el giro */
  position: relative; /* Necesario para las caras frontal y trasera */
}

/* Imagen dentro de la tarjeta */
.card-item img {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: 400px; /* Ajusta la altura para mantener proporción */
  object-fit: cover; /* Ajusta la imagen sin deformarla */
  border-bottom: 2px solid #f0f0f0; /* Divide visualmente la imagen del contenido */
}

/* Contenido interno de la tarjeta */
.card-item .p-4 {
  padding: 16px; /* Espaciado alrededor del contenido */
  text-align: center; /* Centra el texto */
  flex-grow: 1; /* Permite que el contenido crezca uniformemente */
}

/* Configuración de las caras frontal y trasera */
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* Oculta la cara trasera */
  transition: transform 0.6s ease; /* Animación suave */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Cara frontal de la tarjeta */
.card-front {
  transform: rotateY(0deg); /* Posición inicial */
  background: #fff;
  z-index: 2; /* Asegura que esté frente a la trasera */
}

/* Cara trasera de la tarjeta */
.card-back {
  transform: rotateY(180deg); /* Inicialmente oculta */
  background-color: var(--secondary-color);
  color: #fff;
  justify-content: center; /* Centra el contenido */
  align-items: center;
  text-align: center;
  z-index: 1;
}

.card-inner {
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center; /* Centra el contenido */
  align-items: center;
  text-align: start;
}

.card-inner h3 {
  color: var(--primary-color) !important;
}

/* Efecto de giro al activar */
.card-item.flipped .card-front {
  transform: rotateY(180deg);
}

.card-item.flipped .card-back {
  transform: rotateY(0deg);
}

/* Espaciado entre tarjetas */
.card-item + .card-item {
  margin-top: 16px;
}

/* Ajuste responsivo */
@media (max-width: 768px) {
  .card-item {
    height: 500px;
  }

  .card-item img {
    height: 200px; /* Reduce la altura de la imagen */
  }

  .card-front h3 {
    font-size: 1rem;
  }

  .card-front h4 {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .card-item img {
    height: 300px; /* Reduce aún más la altura en pantallas pequeñas */
  }

  .card-front h3,
  .card-front h4 {
    font-size: 0.9rem;
  }
}

/* carousel-testmonials */
.testimonials {
  padding: 3rem 0 9rem 0;
}

.carousel-control-prev,
.carousel-control-next {
  background: transparent;
}

.img-area {
  width: 8rem;
  height: 8rem;
  margin: 1rem auto 2.5rem auto;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  overflow: hidden;
}

.img-area img {
  width: 100%;
}

.carousel-indicators {
  bottom: -5rem;
}

.carousel-indicators li {
  background-color: gray;
}

.carousel-indicators .active {
  background-color: var(--primary-color);
}

.testimonials i {
  font-size: 2rem;
  color: var(--primary-color);
}

.testimonials p {
  padding: 0 5rem 0 5rem;
  margin-top: 2rem;
}

/* Parallax */
.parallax {
  background: url("../assets/img/yoga.webp") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.parallax::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
}

.parallax-content {
  width: 100%;
  min-height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax h1 {
  color: #fff;
}

.parallax h2 {
  color: #fff;
}

/* form */
input,
textarea {
  border: 2px solid var(--primary-color) !important;
}

textarea {
  resize: none;
  /* overflow-y: hidden; */
}

label {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-weight: bold;
}

/* footer */
footer {
  width: 100%;
  height: auto;
  padding: 2rem 0;
  background: url("../assets/img/bg-hero.webp") center no-repeat;
  position: relative;
}

footer::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

footer .fa-instagram {
  font-size: 3.5rem;
  margin: 0.5rem 0 1rem 0;
  color: var(--primary-color);
}

footer .fa-whatsapp,
.fa-phone,
.fa-envelope,
.fa-linkedin {
  font-size: 2rem;
  color: var(--primary-color);
  margin: 1rem 1rem 1rem 1rem;
}
footer .fa-tiktok,
.fa-facebook-f {
  font-size: 2rem;
  color: var(--primary-color);
}

footer .fa-clock {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin: 1rem 1rem 0rem 0rem;
}

footer p {
  font-size: 1rem;
  letter-spacing: 1px;
}

footer h1 {
  font-size: 2rem;
  letter-spacing: 1px;
}

.naro {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.naro h6 {
  font-weight: unset;
  color: var(--primary-color);
}

.naro::before {
  content: "";
  position: relative;
  border-top: 2px solid #fff;
}

.naro i {
  color: var(--primary-color);
}

hr {
  width: 80vw;
  border-top: 1px solid rgba(255, 255, 255, 0.09);
}

/* Hero-Contact */

.hero-contact {
  width: 100%;
  height: 30vh;
  background: url("../assets/img/bg-hero.webp") no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-contact::before {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-contact h1 {
  font-size: 2;
}

/* Contact */

.contact h1 {
  font-size: 1.8rem;
}

.section-contact h2 {
  letter-spacing: unset;
  font-style: unset;
  text-transform: unset;
  color: var(--primary-color);
}

.contact a {
  text-decoration: none !important;
  color: var(--secondary-color);
}

/* DEMO */
.demo-content {
  width: 100%;
  height: 50vh;
  background-color: #fff;
}

/* media query */
@media (min-width: 768px) {
  hr {
    width: initial;
    border-top: initial;
  }
}

.dropdown {
  position: relative;
}

.dropbtn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.dropdown-content {
  display: flex;
  align-items: center;
  width: 100%;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  background-color: gray;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
  flex-direction: column;
  transition: opacity 0.2s ease, transform 0.2s ease;
  transform: translateY(5px);
  padding: 0.4rem 0;
}

.nav-item.dropdown:hover .dropdown-content {
  display: flex;
  opacity: 1;
  transform: translateY(5px);
  pointer-events: auto;
}

/* Links dentro del dropdown */
.dropdown-content ul {
  padding: 0;
  list-style: none;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown-content ul li {
  width: 5rem;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
}

.dropdown-content a {
  color: black;
  padding: 10px 14px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 100%;
}

.dropdown-content a svg {
  color: var(--primary-color);
  width: 3rem;
}

/* Para mostrar los iconos horizontalmente en móvil */
.nav-icons-mobile {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  justify-content: center;
}

/* Asegura que los íconos estén visibles y centrados */
.nav-icons-mobile svg {
  width: 2rem;
  height: 2rem;
}
